doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Websocket Test
    link(rel="stylesheet" href="css/style.css")
  body

    section.container.text-center
      header.page-header
        a(href="/")
          h1 Websocket Test
        p Exemplos de uso de websocket com Socket.io
      include includes/menu.jade
      
      main
        block content

      footer.text-center
        | &copy; Alessandro Sales | Webdeveloper
    script(src="/socket.io/socket.io.js")
    script(src="js/dependencias.min.js")
    script(src="js/main.min.js")
    script(src="//localhost:35729/livereload.js")