extends tpl.jade

block content
  h2 Exemplo 2
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ea odit, recusandae repellendus consequuntur fuga neque, qui sequi, iusto facere saepe officiis ipsa deleniti ipsam eaque quidem nulla. Odio, inventore?
